.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-overlay-text);
  padding: 0.05vh;
  text-align: center;
  justify-content: center;
}

.footer p {
  color: var(--color-overlay-text);
}
