body {
  margin: 0;
  font-family: "inter", serif;
  font-weight: 550;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffefe;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
}

.logo {
  color: rgb(0, 8, 255);
  font-style: italic;;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.logo:hover {
  font-weight: 1000;

}

.nav-links li a {
  color: rgb(52, 52, 52);
  text-decoration: none;
  font-size: 1rem;
}

.nav-links li a:hover {
  text-decoration: underline;
}