

.homeTitle{
  font-size: 10em;
  font-family: "Inter", serif;
  font-weight: 750;
  font-style: normal;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.contactTitle{
  font-size: 10em;
  font-family: "Playfair Display", serif;
  font-weight: 750;
  font-style: normal;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.emailStyle {
  font-size: 1.5em;
  font-family: "Inter", serif;
  font-weight: 550;
  color: #555;
  text-align: center;
  margin-top: 20px;
}
.subtitle{
  font-size:2em;
  font-family: "Playfair Display", serif;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-right: 10rem;
  padding-bottom: 10rem;
  font-weight: 300;
  color: #333;
  text-align: center;
  margin-top: 20px;
}
.subtitleDark{
  font-size:2em;
  font-family: "Playfair Display", serif;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-right: 10rem;
  padding-bottom: 2.5rem;
  font-weight: 300;
  color: #ffd4d4;
  text-align: center;
  margin-top: 20px;
}
body{
  background-color: #ecebe7;
}

.bodyText{
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #333;
  text-align: center;
  margin-top: 20px;
}
.headingText{
  font-size: 2em;
  font-family: " Display", serif;
  font-weight: 300;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}