body.homePage {
  cursor: url("images/cursor2.png") 0 0, auto;
}
body{
  background-color: #ecebe7;
}

.aboutPageText {
  margin: 10px;
  
  font-family: 'Courier New', Courier, monospace;
  font-weight: 590;
  color: #333;
}
body{
  background-color: #ecebe7;
}

.aboutPageContainer {
  display: flex;              /* put children side by side */
  align-items: center;        /* vertically centre text with image */
  gap: 20px;                  /* space between image and text */
  max-width: 900px;           /* optional: keep layout tidy */
  margin: 50px auto;          /* centre on the page */
}

.profilePicture {
  width: 600px;               /* set image size */
  height: auto;
  border-radius: 10px;        /* optional: rounded corners */
}

.aboutPageText {
  flex: 1;                    /* text takes up remaining space */
  font-size: 2.5rem;
  line-height: 1.6;
}

.homeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  max-width: 900px;  
  gap: 50px;         
  margin: 40px auto;         
}

.arrow {
  font-size: 20em;
  font-family: "Inter", serif;
  font-weight: 600;
  color: #224698;
  line-height: 1;
  text-decoration: none;
  margin-top: 20px;
  display: block;           
  text-align: center;       /* centres the arrow */
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}


body.homePage .navbar {
  background-color: #ffffff; /* or any colour you want for this page */

}
body.homePage .navbar a {
  color: #0062ff;   
}

body.homePage .navbar a:hover {
  color: #262261;  
}



.homeTitle{
  font-size: 10em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 590;
  font-style: normal;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.contactTitle{
  font-size: 10em;
  font-family: "Playfair Display", serif;
  font-weight: 750;
  font-style: normal;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.emailStyle {
  font-size: 1.5em;
  font-family: "Inter", serif;
  font-weight: 550;
  color: #555;
  text-align: center;
  margin-top: 20px;
}
.subtitle{
  font-size:2em;
  font-family: "Inter", serif;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-right: 10rem;
  padding-bottom: 0px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 20px;
}
.subtitleDark{
  font-size:2em;
  font-family: "Playfair Display", serif;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-right: 10rem;
  padding-bottom: 2.5rem;
  font-weight: 300;
  color: #ffd4d4;
  text-align: center;
  margin-top: 20px;
}
body{
  background-color: #ecebe7;
}

.bodyText{
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #333;
  padding-top: 0rem;
  text-align: center;
  margin-top: 20px;
}
.headingText{
  font-size: 2em;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}