.headingText{
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  color: #333;
  text-align: center;
  margin-top: 20px;
}
.subHeading{
  font-size: 1.5em;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  color: #333;
  text-align: center;
  margin-top: 20px;
}
.images {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.screenshot {
  max-width: 40rem;
  border-radius: 15px;
}

body.vroomly{
    background: #ffffff;
}

.githubLogo{
  height: 7rem;
  filter: drop-shadow(0 0 15px rgba(93, 98, 161, 0.378))
          drop-shadow(0 0 30px rgba(34, 34, 34, 0.094));

}

.githubLogo:hover {
  transform: scale(1.05); /*slight zoom on hover */
  transition: transform 0.1s ease-in-out; /* smooth transition */
}

.topSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  padding: 5rem;
  margin-top: 2rem;
}


.horizontalSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.columnSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}