@import url('/theme.css');

.headingText{
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  text-align: center;
  margin-top: 20px;
}
.subHeading{
  font-size: 1.5em;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  text-align: center;
  margin-top: 20px;
}
.images {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.screenshot {
  max-width: 20rem;
  border-radius: 15px;
}

body.vroomly{
    background: var(--color-bg);
}

.githubLogo{
  height: 7rem;
  filter: drop-shadow(0 0 15px var(--color-project-logo-glow))
          drop-shadow(0 0 30px var(--color-project-logo-glow-soft));

}

.youtubeLogo {
  width: 220px; /* adjust size as needed */
  height: auto;
  display: block;

}
.githubLogo:hover {
  transform: scale(1.05); /*slight zoom on hover */
  transition: transform 0.1s ease-in-out; /* smooth transition */
}
