body{
  background-color: #ecebe7;
}

.emailStyle {
  display: block;        /* makes it behave like a heading */
  font-size: 1em;       /* same as your h1 */
  font-weight: bold;
  text-align: center;
  color: #333;
  text-decoration: none; /* no underline */
}

.emailStyle:hover {
  /* color: #004cff; */
  text-decoration: underline;
}

.emailStyle a {
  text-decoration: none;
  color: inherit;         
}


.title {
  font-size: 5em;
  text-align: center;
  color: #333;
}

div.contactContent {
  width: 100vw;
  height: 86vh;
}
